.octocat {
  display: inline-block;
}

.authors, .authors li {
  display: inline-block;
}

.octocat > a {
  width: 230px;
  display: inline-block;
  border: 1px solid lightgrey;
}

.authors a {
  vertical-align: middle;
  display: inline-block;
}

.octocat img {
width: 100%;
vertical-align: baseline;
}

.image-caption a {
color: black;
text-decoration: none;
}

.image-number {
color: lightgrey;
}

.image-number::before {
  content: '#';
  color: lightgrey;
}

a {
  font-weight: bold;
}

.authors img {
  width: 30px;
  vertical-align: baseline;
  display: block;
}

li {
    list-style-type: none;
}

div.image-footer {
  display: block;
}

image-caption {
  float: left;
  display: inline-block;;
  align-content: flex-start;
}

.carloscat img {
  vertical-align: baseline;
  display: block;
}

div.image-caption {
  border-bottom: 1px solid lightgrey;
}
